SELECT FIRST 10000 a.ID, a.SCANNERUSEREMPID, a.OCFIELDID, a.DEFOCID, a.JOBCODEID, a.WORKEREMPID, a.VEHICLECODEID, a.CRDIVISIONID, a.UPLOADDATETIME, a.TRANSNO, a.TRANSDATE, a.TRANSTIME, a.RECORDTAG, a.TRANSSTATUS, a.LASTUSER, a.LASTUPDATED, a.ACKNOWLEDGEBY, a.ACKNOWLEDGEON, a.REMARKS, a.ISCONTRACT, a.SCANOUTDATE, a.SCANOUTTIME, a.SCANOUTUSEREMPID, a.ISVALIDSCANOUT, a.REVIEWSTATUSID, a.REVIEWID, a.REVIEWDATE FROM GWSCANNERDATA09 a;
